.battle-screen-container {
    height: 100%;
    width: 100%;
    margin: 0 16px 0 16px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;

    .battle-screen-top {
        flex: 1;
        margin-top: 40px;
        display: flex;
        flex-direction: row;

        .player-data-container {
            margin-left: 8px;
            border: 4px solid white;
            border-radius: 8px;
            padding: 6px;
            align-self: baseline;
            position: relative;
        }

        .enemies-pictures {
            flex: 1;
            align-self: center;
        }
    }

    .battle-screen-bottom {
        flex: 1;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        height: 100%;
        min-height: 0;

        .battle-options, .enemies {
            border: 4px solid white;
            border-radius: 8px;
            margin: 0 4px 0 4px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .battle-options {
            justify-content: center;
            position: relative;

            .battle-text {
                text-transform: uppercase;
            }

            .current-player {
                position: absolute;
                top: -12px;
                background: black;
                right: 40%;
                padding: 0 8px 0 8px;
                font-size: 20px;
                text-transform: uppercase;
            }
            
            .option {
                align-self: flex-start;
                margin: 8px 0 8px 12px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .enemies {
            font-size: 20px;
            align-self: baseline;
            padding: 8px;
        }
    }
}