.submenu-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .back-option-container {
        margin: 0 8px 0 8px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }

    .attack-option-container {
        text-transform: uppercase;

        .attack-options {
            margin: 6px 8px 0 8px;
            width: 100%;
            max-height: 100px;
            overflow: scroll;

            & > * {
                margin: 12px 0 12px 0;
            }

            .attack-option, .magic-option {
                display: flex;
                width: fit-content;
                
                    &:hover {
                        cursor: pointer;
                } 
            }
        }

        .attack-option {
            align-self: center;
        }

        .attack-option:hover {
            cursor: pointer;
        }
    }

    .item-option-container {
        text-transform: uppercase;

        .item-options {
            margin: 6px 8px 0 8px;
            width: 100%;
            max-height: 100px;
            overflow: scroll;

            .item-option {
                display: flex;
                width: fit-content;
                margin: 4px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    
    .back-option-container {
        justify-content: start;
        margin-bottom: 12px;

        .back-option {
            &:hover {
                cursor: pointer;
            }
        }
    }
}