.main-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .main-page-content {
        margin: 12px;

        .tv-container {
            display: flex;
            justify-content: center;

            .tv-picture {
                z-index: 100;
                align-self: center;
            }

            .tv-img-container {
                position: relative;

                .play-music {
                    position: absolute;
                    left: 90px;
                    bottom: 80px;
                    width: 50px;
                    height: 50px;
                    background: gray;
                }
            }

            .tv-content {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 90px;
                background: black;
                height: 500px;
                width: 645px;
            }
        }
    }

    .toggle-theme {
        align-self: center;
        max-width: 100px;
    }
}