html, body {
    background: #F5EDED;
    margin: 0;
    padding: 0;
}

.App {
    font-family: "Ubuntu", sans-serif;
    position: relative;
    height: 100%;
    text-align: center;
    color: #C22727;
    background: #F5EDED;
}